.locationList{
    max-height: 90vh;
    overflow: auto;
}
@media(max-width: 64em){
    .locationList{
        max-height: 70vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}

@media(max-width: 45em){
    .locationList{
        max-height: 50vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}
